.movie {
    border: 2px solid transparent;
    cursor: pointer;
    padding: 1em;
    user-select: none;
}

.movie h2 {
    overflow: hidden;
    max-width: 300px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.movie .overview {
    margin: 0 auto;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.poster {
    text-align: center;
}
.poster img {
    box-shadow: 10px 10px 30px #111111;
}

